*{
box-sizing: border-box;
}
ul{
list-style-type:none;
}
li{
list-style-type:none;
}
.pull-left, .float-left {
float: left !important;
}
.ctitle{ position:relative}
.ctitle b{color:#fff;font-size: 22px; margin-bottom: 20px; background: #2a7497; padding: 10px 0; width: 200px; text-align: center; border-radius: 0 30px 30px 0; box-shadow: #21566f 1px 1px 1px; border-left: #dae1e4 6px solid; display:block; margin:30px 0 0 30px}
.ctitle span{ float:right; font-size:14px; position:absolute; right:120px ; top:20px;text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px;}
